<h2>City-wise Company Data</h2>
<mat-card>
  <mat-card-content>
    <div id="chart">
      <ul id="numbers">
        <li><span>100%</span></li>
        <li><span></span></li>
        <li><span>80%</span></li>
        <li><span></span></li>
        <li><span>60%</span></li>
        <li><span></span></li>
        <li><span>40%</span></li>
        <li><span></span></li>
        <li><span>20%</span></li>
        <li><span></span></li>
        <li><span>0%</span></li>
      </ul>

      <ul id="bars" #cityChartBar>
        <li *ngFor="let cityItem of cityData">
          <div [attr.compCount]="cityItem.companies" [matTooltipClass]="{ 'tool-tip': true }" class="bar" matTooltip="{{cityItem.companies}} Companies" matTooltipPosition="above" (click)="showCompanyList(cityItem)">
          </div><span>{{ cityItem.name }}</span>
        </li>
      </ul>
    </div>
  </mat-card-content>
</mat-card>
